.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #ddd;
  overflow: auto; /* Allow scrolling if content overflows */
}

.scenario-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel {
  display: flex;
  flex: 2; /* Right panel takes twice the space of the left panel */
  height: 100%;
}

.area-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-controller-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-view-container {
  flex: 1; /* 50% of height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.paths-view-container {
  flex: 1; /* 50% of height */
  overflow: auto;
  padding: 10px;
}
